<!doctype html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Django Girls Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="#">Django Girls Blog</a></h1>
            <h3>{{ title }}</h3> <!--django가 변수를 대입할 수 있는 형태-->
        </div>
        <div>
            {% for post in posts %}
                {{ post }}
            {% endfor %}
        </div>
        {% for post in posts %}
        <div>
            <p>published: {{post.published_date }}</p>
            <h2><a href="#">{{ post.title }}</a></h2>
            <p>{{ post.author }}</p>
            <p>{{ post.text }}</p>
        </div>
        {% endfor %}
        <div>
            <p>published: 29.05.2017, 03:25</p>
            <h2><a href="#">My First Post</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis placeat quam quisquam quod reprehenderit repudiandae! Libero modi non quis veritatis!</p>
        </div>

        <div>
            <p>published: 29.05.2017, 03:27</p>
            <h2><a href="#">My Second Post</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consectetur ea eaque fuga fugit id illo ipsa itaque maiores maxime molestias nam nostrum, numquam provident rerum totam ut vero, voluptatum!</p>
        </div>
    </body>
</html>